.living-coral-2019 {
  background-color: #a79b71;
}

.ultra-violet {
  background-color: #506299;
}

.greenery {
  background-color: #b5a249;
}

.rose-quartz {
  background-color: #d9d2cd;
}

.serenity {
  background-color: #9ba4ce;
}
