.living-coral-2019 {
  background-color: #d6865b;
}

.ultra-violet {
  background-color: #5b6092;
}

.greenery {
  background-color: #b1a250;
}

.rose-quartz {
  background-color: #f1cbc8;
}

.serenity {
  background-color: #9aa5d1;
}
