.living-coral-2019 {
  background-color: #ff6d74;
}

.ultra-violet {
  background-color: #62646c;
}

.greenery {
  background-color: #96a4b0;
}

.rose-quartz {
  background-color: #f9c6d6;
}

.serenity {
  background-color: #8babb8;
}
