.living-coral-2019 {
  background-color: #b6827d;
}

.ultra-violet {
  background-color: #666075;
}

.greenery {
  background-color: #97a681;
}

.rose-quartz {
  background-color: #e0d0d0;
}

.serenity {
  background-color: #9fa7b6;
}
