.living-coral-2019 {
  background-color: #bf9458;
}

.ultra-violet {
  background-color: #516391;
}

.greenery {
  background-color: #c99a53;
}

.rose-quartz {
  background-color: #eeccc7;
}

.serenity {
  background-color: #9fa3d1;
}
