.living-coral-2019 {
  background-color: #ff6e6d;
}

.ultra-violet {
  background-color: #65617b;
}

.greenery {
  background-color: #91a88c;
}

.rose-quartz {
  background-color: #f8c8d1;
}

.serenity {
  background-color: #8daac1;
}
