.living-coral-2019 {
  background-color: #8d8d8d;
}

.ultra-violet {
  background-color: #636363;
}

.greenery {
  background-color: #a0a0a0;
}

.rose-quartz {
  background-color: #d3d3d3;
}

.serenity {
  background-color: #a6a6a6;
}
