.living-coral-2019 {
  background-color: #c78b6b;
}

.ultra-violet {
  background-color: #5a6098;
}

.greenery {
  background-color: #a4a74a;
}

.rose-quartz {
  background-color: #e4cfcb;
}

.serenity {
  background-color: #98a5cf;
}
