.living-coral-2019 {
  background-color: #FF6F61;
}

.ultra-violet {
  background-color: #6B5B95;
}

.greenery {
  background-color: #88B04B;
}

.rose-quartz {
  background-color: #F7CAC9;
}

.serenity {
  background-color: #92A8D1;
}
